html,
body {
    margin: 0;
    font-family: Tahoma;
}

aside {
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: #ddd;
    top: 0;
    left: 0;
}

.aside2 {
    left: auto;
    right: 0;
}

.menu {

}

.menu__item {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-top: 1px solid #bbb;
}

header,
section {
    margin: 0 300px;
    padding: 30px;
}

header {
    background-color: #aaa;
}




.puls-tour__point {
    width: 20px;
    height: 20px;
    background-color: orange;
    position: absolute;
    z-index: 2000;
}

.puls-tour__point_tooltip-visible {
    background-color: transparent;
}

.puls-tour__tooltip {
    display: none;
    max-width: 340px;
    background-color: #fff;
    padding: 5px 10px;
    position: absolute;
    box-shadow: rgba(0,0,0, 0.3) 0 2px 5px;
}

.puls-tour__point_tooltip-visible .puls-tour__tooltip {
    display: block;
}
